@model IEnumerable<Diary_Proj.Models.Note>

@{
    ViewData["Title"] = "Index";
    var imagePath = "images/";
}

<h4 class="text-primary">Notes</h4>

<div class="alert alert-primary text-center">
    <a asp-action="Create" class="btn btn-primary">New Note</a>
</div>

@{
    DateTime prevDate = default;
    DateTime currentDate = default;
    Note note = Model.FirstOrDefault();
    bool isSameDate = true;

    if (note != null)
    {
        prevDate = note.Date_FK.Date;
        currentDate = note.Date_FK.Date;
    }
}

@foreach (var item in Model)
{
   


    prevDate = currentDate;
    currentDate = @item.Date_FK.Date;

    if (currentDate != prevDate)
        isSameDate = !isSameDate;

    if (isSameDate == true)
    {
        <div class="alert alert-secondary col-10" role="alert">
            @item.Date_FK.Date.ToShortDateString()
        </div>
    }
    else
    {
        //currentDate = prevDate;
        <div class="alert alert-info col-10" role="alert">
            @item.Date_FK.Date.ToShortDateString()
        </div>
    }
    String style = "bg-success";
    var date = item.DayNote.Date;
   
    DateTime stored = new DateTime(date.Year, date.Month, date.Day,
        item.StartAt.Value.Hours, item.StartAt.Value.Minutes, item.StartAt.Value.Seconds);

    if (stored < DateTime.Now)
    {
        style = "bg-danger";
    }

    <div class="container col-md-7">

        <div class="card text-center m-3">
            <div class="card">
                <h4 class="card card-header @style text-white">
                    @item.Title
                </h4>

                <div class="card-body">
                    <p class="card card-text bg-light">
                        @item.Text
                    </p>

                    @{
                        if (item.Pic != "")
                        {
                            <div class="card card-img">
                                <img src="@imagePath@item.Pic" class="card-img-bottom figure-img" alt="Card image cap" />
                            </div>
                        }
                    }

                    <div class="card-text">
                        @*Start at: @item.StartAt.Value*@
                        @{
                            DateTime time = new DateTime();
                            if (item.StartAt != null)
                            {
                                time += item.StartAt.Value;
                                <span class="badge badge-info">Ends at: @time.ToShortTimeString()</span>
                            }

                        }


                    </div>
                    <a asp-action="Delete" asp-route-id="@item.ID" onclick="clicked(event);" id="delete" class="btn btn-danger m-2 float-right">Remove Note!</a>

                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning m-2 float-right">Edit Note</a>
                </div>


            </div>
        </div>



    </div>

}

@section Scripts{
<script>
    console.log('form loaded');
    function clicked(e) {
        console.log(e);
        var res = confirm('are you sure');
        if (res == false)
            e.preventDefault();
    }

</script>
 }
